extends layouts/layout

block content
  h1 Détails du Catway ##{catway.catwayNumber}

  div.details
    p Type: #{catway.type}
    p État: #{catway.catwayState}

  h2 Réservations associées
  if reservations.length > 0
    ul
      each reservation in reservations
        li
          | #{reservation.clientName} (#{reservation.boatName}) - 
          | du #{new Date(reservation.checkIn).toLocaleString()} 
          | au #{new Date(reservation.checkOut).toLocaleString()}
          a(href=`/reservations/${reservation._id}`) (détails)
  else
    p Aucune réservation pour ce catway

  a(href='/catways') Retour à la liste