extends layouts/layout

block content
  .container
    h1 Détails du Catway ##{catway.catwayNumber}

    .card
      .card-header
        h2 Informations du Catway
      .card-body
        table.table
          tbody
            tr
              th ID:
              td= catway._id
            tr
              th Numéro:
              td= catway.catwayNumber
            tr
              th Type:
              td= catway.type
            tr
              th État:
              td= catway.catwayState

    if reservations && reservations.length > 0
      .card.mt-4
        .card-header
          h2 Réservations associées
        .card-body
          table.table
            thead
              tr
                th Client
                th Bateau
                th Arrivée
                th Départ
            tbody
              each reservation in reservations
                tr
                  td= reservation.clientName
                  td= reservation.boatName
                  td= reservation.checkIn.toLocaleDateString()
                  td= reservation.checkOut.toLocaleDateString()
    else
      .alert.alert-info.mt-4 Aucune réservation pour ce catway

    .mt-4
      a.btn.btn-primary(href='/catways') Retour à la liste