extends layouts/layout

block content
  .container
    h1 Détails de la Réservation

    .card
      .card-header
        h2 Informations
      .card-body
        table.table
          tbody
            tr
              th Catway
              td= reservation.catwayNumber
            tr
              th Client
              td= reservation.clientName
            tr
              th Bateau
              td= reservation.boatName
            tr
              th Date d'arrivée
              td= reservation.checkIn.toLocaleDateString()
            tr
              th Date de départ
              td= reservation.checkOut.toLocaleDateString()

    .mt-4
      a.btn.btn-primary(href='/reservations') Retour à la liste
      | 
      form(method='POST', action=`/api/reservations/${reservation._id}?_method=DELETE`, style='display:inline')
        button.btn.btn-danger(type='submit', onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réservation ?')") Supprimer