extends layouts/layout

block content
  h1 Liste des Réservations

  table
    thead
      tr
        th Catway
        th Client
        th Bateau
        th Période
        th Actions
    tbody
      each reservation in reservations
        tr
          td= reservation.catwayNumber
          td= reservation.clientName
          td= reservation.boatName
          td
            | #{new Date(reservation.checkIn).toLocaleDateString()} - 
            | #{new Date(reservation.checkOut).toLocaleDateString()}
          td
            a(href=`/reservations/${reservation._id}`) Détails

  a(href='/dashboard') Retour au tableau de bord